html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  font-family: "MicrosoftYaHei";
}
body,div,header,aside,section,article,h1,h2,h3,h4,h5,h6,p,span,input,textarea,button,ul,li{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
table,thead,tbody,tr,td,th {
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6{
  font-weight:normal
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  font-style:normal;
}
i {
  display: inline-block;
}
input,textarea,button{
  font-family: "Microsoft Yahei";
  font-size: 14px;
  line-height: 1.5;
  -webkit-appearance: none;
  outline: none;
}
input,textarea{
  width:100%;
  border: none;
  background: none;
  box-shadow: none;
}
textarea {
  width: 300px;
  height: 110px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  resize: none;
}
input {
  -webkit-appearance: none;
}
::-ms-clear{
  display: none;
}
::-ms-reveal{
  display: none;
}
select {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  width: 300px;
  height: 42px;
  padding: 0 56px 0 20px;
  outline: 0;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  background: url() no-repeat scroll right center transparent;

  &:focus {
    border: 1px solid #f9a11e;
  }
}
select::-ms-expand {
  display: none;
}

button:focus,input:focus,a:hover{
  outline: 0;
}
button {
  height: 48px;
  padding: 0 20px;
  background: #f9a11e;
  color: #fff;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}
// button:hover {
//   background: #fff;
//   color: #f9a11e;
//   border: solid 1px #f9a11e;
// }
button:disabled {
  background: #e5e5e5;
  color: #999;
}

@mixin flex($h:flex-start,$v:center,$direction:row,$wrap:nowrap) {
  display: flex;
  justify-content: $h;
  align-items: $v;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin total-width($width:1170px) {
  width: $width;
  margin: 0 auto;
}
