@import '../style.scss';

.admin-user {
  @include flex(flex-start,flex-start,row);
  background: #e9eaed;
  min-width: 1070px;

  .right {
    width: calc(100% - 210px);
    height: 100%;
    min-height: 100vh;
    margin-left: 210px;
    @include flex(flex-start,flex-start,column);
  }
}