@import '../style.scss';

.personal-banner {
  width: 270px;
  min-height: 100vh;
  height: 100%;
  padding-top: 40px;
  background: #fff;
  border: 1px solid #E5E5E5;
  border-radius: 8px;

  header {
    font-size: 20px;
    color: #333333;
    margin-left: 40px;
  }

  nav {
    margin: 30px 0 0 40px;

    .nav-item {
      @include flex(flex-start, center);
      margin-bottom: 20px;
      color: #666;

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      &:hover {
        color: #fa9700;
      }
    }

    .nav-active {
      color: #fa9700;
    }
  }
}