@import '../style.scss';

.personal {

  .content {
    padding: 30px 0;
    width: 100%;
    background: #f7f7f7;

    main {
      @include total-width;
      @include flex(space-between, stretch);

      .right {
        width: 870px;
        padding: 20px 30px;
        background: #fff;
        border: 1px solid #E5E5E5;
        border-radius: 8px;
      }
    }
  }
}